// A INPUT
NET A0 LOC = N8;
NET A1 LOC = U8;
NET A2 LOC = V8;
NET A3 LOC = T5;
// B INPUT
NET B0 LOC = T10;
NET B1 LOC = T9;
NET B2 LOC = V9;
NET B3 LOC = M8;
// SELECTION LINES
NET S0 LOC = D9;
NET S1 LOC = B8;
NET S2 LOC = C4;
// CARRY IN
NET Cin LOC = A8;

 

// OUTPUTS
NET G0 LOC = M11;
NET G1 LOC = N11;
NET G2 LOC = R11;
NET G3 LOC = T11;
// CARRY OUT
NET Cout LOC = U16;